version: "3.5"
services:
  pulseaudio:
    build:
      network: host
      args:
        - HTTP_PROXY=http://127.0.0.1:3128
        - HTTPS_PROXY=http://127.0.0.1:3128
  wxwork:
    build:
      network: host
      args:
        - HTTP_PROXY=http://127.0.0.1:3128
        - HTTPS_PROXY=http://127.0.0.1:3128
